{% extends 'app/base.html' %}
{% load static %}

{% block title %}Password Confirm{% endblock title %}

{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">

            <h3>Password Confirm</h3>
            <hr>

            {% if form %}
            <form method="post" novalidate class="shadow p-5">
                {% csrf_token %}

                {% for fm in form %}
                    {{ fm.label_tag }} {{ fm }}
                    <small class="text-danger">{{ fm.errors|striptags }}</small>
                    <br>
                {% endfor %}

                <input type="submit" class="btn btn-primary mt-4" value="Submit">
            </form>
            {% else %}
                <p class="alert alert-danger">
                    This password reset link is invalid or has expired.
                    Please request a new password reset.
                </p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock main-content %}
